@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}



body{
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    /* height: -webkit-fill-available; */
    width: 100%;
    height: 100%;
    overflow: hidden;
  /* mobile viewport bug fix */
  /* height: calc(100vh - calc(100vh - 100%)); */
    background: rgb(0,0,0);
background: linear-gradient(34deg, rgba(0,0,0,1) 0%, rgba(5,0,19,1) 56%, rgba(0,0,0,1) 100%);
}

.sign2{
    background-color: #bdcad9;
background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);

}
.sign1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inputRounded .MuiOutlinedInput-root {
    border-radius: 20px;
    outline: none;
    background: rgb(225, 225, 255);
  }

  

  .inputB{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);

  }
  .inputA{
    border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);
  }

  .gradientBG{
    background: rgb(0,0,0);
background: linear-gradient(34deg, rgba(0,0,0,1) 0%, rgba(7,1,15,1) 26%, rgba(11,4,20,1) 40%, rgba(20,12,32,1) 52%, rgba(10,4,20,1) 63%, rgba(11,1,28,1) 72%, rgba(0,0,0,1) 100%);
  }

  .stack{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }

  .userSearchCard{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .userSearchCard:hover{
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(195, 101, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);
border: 1px solid rgba(195, 101, 255, 0.3);
  }

  .btn{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
  }

  .btn:hover{
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(195, 101, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);
border: 1px solid rgba(195, 101, 255, 0.3);
  }

  .chatCard{
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(231, 212, 212, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
  }

  .addGroupChat{
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.4px);
-webkit-backdrop-filter: blur(3.4px);
  }

  .chip:hover{
    /* From https://css.glass */
background: rgba(200, 78, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
  }

  .nonSelect{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
  }

  .msg{
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.7px);
-webkit-backdrop-filter: blur(9.7px);
  }

  .otherMsg{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.4px);
-webkit-backdrop-filter: blur(1.4px);
  }
 

  .MuiPaper-root {
    background-color: rgb(68 64 60);
    color: rgb(209 213 219);
  }